div{
	padding: 6px 25px;
}

/* Accessibility Bar */

.accessibilityBar{
	text-align: left;
	display: flex;
	background-image: url("/~B00751115/workspace/com109/css/accessBarBackGround.png");
	border-bottom: 2px solid black;
	position: fixed;
	width: 100%;
	height: 30px;
	top: 0px;
	left: 0px;
}
.accessibilityBar input[type=button]{
	border-radius: 4px;
	height: 20px;
	width: 20px; 
}
.accessibilityBar input[type=button]:hover{
	opacity: 0.7;
}

.accessibilityTypeContainer #darkModeButton{
	background-color: black;
}

.accessibilityTypeContainer #lightModeButton{
	background-color: white;
}

.accessibilityTypeContainer{
	text-align: center;
	font-family: Georgia;
	color: lightgrey;
	background-color: #0A58D7;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 5px 10px 5px 10px;
	margin-right: 10px;
}

/* End of Accessibility Bar */

.regForm{
	height: 630px;
	width: 430px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header{
	background-color: #f7f7f7f7;
	color: #282828;
	font-size: 25px;
	margin-bottom: 15px;
	font-family: Georgia;
}

/* Moving Label */

.textInputContainer{
	position: relative;
}
.movingLabel{
	position: absolute;
	font-family: Georgia;
	top: 25px;
	left: 11%;
	bottom: 40px;
	transition: all .3s;
}

.movingLabel.isUp{
	top: 1px;
	font-size: 12px;
	color: #679CFF;
}

.inputArea:focus ~ .movingLabel{
	top: 1px;
}

/* End of Moving Label */

.inputArea{
	height: 35px;
	width: 330px;
	font-size: 15px;
	text-align: left;
	margin: 3px 0;
	border: none;
	border-bottom: 1px solid black;
}	

.inputArea:focus{
	border-bottom: 1px solid blue;
	outline: 0;
}

textarea{
	width: 330px;
	height: 65px;
	border: 1px solid black;
	font-size: 12px;
	font-family: Arial;
}

textarea:focus{
	border: 1px solid blue;
	outline: 0;
}

input[type=checkbox]{
	margin-top: 20px;
}
.labelText{
	color: #484848;
	font-size: 14px;
	font-family: Arial;
}

input[type=submit]{
	height: 50px;
	width: 330px;
	font-size: 15px;
	border: 1px solid gray;
	border-radius: 2px;
	background-color: #F8F8F8;
}

input[type=submit]:hover{
	background-color: #679CFF;
	color: white;
	border: white;
}

.error{
	font-size: 14px;
	align-items: left;
	color: #FF0000;
	visibility: hidden;	
}
